/* alla element som heter "body" */

body {

    background-color: rgb(243, 243, 243);
}    

/* alla element med klassen "box*/
.box{
    padding: 30px;
    background-color: white;

    box-shadow: 0 0 5px 0 #888888;
}

.container {
    max-width: 500px;
}

.movie__star {
    /* todo write some code */ /*2 rader CSS kod*/
}

.movie__info {
    /* todo write some code */ /*3 rader CSS kod*/
}